@using Glass.Mapper.Sc.Web.Mvc
@model Coffee.Feature.PageContent.Models.IPageContent

<div class="page-content">
    <h4>
        @Html.Glass().Editable(p => p.Title)
    </h4>
    <p>
        @Html.Glass().Editable(p => p.Description)
    </p>
</div>


